In [2]:
import pandas as pd

In [4]:
p4 = pd.read_csv('./SDSSPhotoObjDR8Attempt4_etture.csv')

In [5]:
def preprocess_photo(dset):
    dropped = dset.drop(columns=['ra', 'dec', 'type', 'mjd'])
    renamed = dropped.rename(columns={'objType': 'type'})
    del dropped
    cols = renamed.columns
    cols_rearranged = [[cols[1]], [cols[0]], cols[7:12], cols[17:], cols[2:7], cols[12:17]]
    cols_rearranged = pd.Index([item for sublist in cols_rearranged for item in sublist])
    renamed = renamed[cols_rearranged]
    renamed['id'] = renamed.index
    final_cols = [renamed.columns[-1]]
    final_cols.extend(renamed.columns[:-1])
    final_cols = pd.Index(final_cols)
    reordered = renamed[final_cols]
    del renamed
    filtered = reordered[~reordered['type'].isin(['NONLEGACY', 'QA', 'HOT_STD'])]
    del reordered
    final_cols2 = ['id', 'type', 'fiberID']
    final_cols2.extend(filtered.columns[3:])
    final_dset = filtered[final_cols2]
    del filtered
    return final_dset

In [7]:
def get_ratios(dataset, target_col):
    cnt_dict = {type_key: 0 for type_key in dataset[target_col].unique()}
    for t in dataset[target_col]:
        cnt_dict[t] += 1
    total = len(dataset)
    ratio_dict = dict()
    for k in cnt_dict.keys():
        cnt = cnt_dict[k]
        ratio_dict[k] = cnt / total
    return ratio_dict

In [8]:
p4_df = preprocess_photo(p4)

In [9]:
len(p4_df)

812353

In [10]:
train = pd.read_csv('./train.csv')

In [11]:
len(train)

199991

In [12]:
p5 = pd.read_csv('./SDSSPhotoObjDR8Attempt5_etture_0.csv')

In [13]:
p5_df = preprocess_photo(p5)

In [14]:
len(p5_df)

1158852

In [22]:
len(p5)

1755818

In [17]:
p5_ratio = get_ratios(p5_df, 'type')

In [18]:
train_ratio = get_ratios(train, 'type')

In [19]:
p5_ratio

{'QSO': 0.1392662738641345,
 'GALAXY': 0.7265509314390448,
 'SERENDIPITY_BLUE': 0.019734185210881112,
 'STAR_SUB_DWARF': 0.0009914984829814334,
 'SKY': 0.03744654192252332,
 'SPECTROPHOTO_STD': 0.013271755150787158,
 'STAR_WHITE_DWARF': 0.0019605609689589353,
 'STAR_CARBON': 0.002918405456434471,
 'STAR_CATY_VAR': 0.00589548967426384,
 'STAR_RED_DWARF': 0.009177185697569664,
 'STAR_BHB': 0.012251780210069965,
 'ROSAT_D': 0.005642653246488766,
 'SERENDIPITY_DISTANT': 0.004225733743394325,
 'REDDEN_STD': 0.013250182076744917,
 'SERENDIPITY_FIRST': 0.005804019840324735,
 'SERENDIPITY_RED': 0.0013314901298871642,
 'SERENDIPITY_MANUAL': 4.6597839931242296e-05,
 'STAR_BROWN_DWARF': 0.00022263412411593542,
 'STAR_PN': 1.208092146365541e-05}

In [20]:
train_ratio

{'QSO': 0.24841117850303263,
 'STAR_RED_DWARF': 0.06875309388922501,
 'SERENDIPITY_BLUE': 0.10880489622032992,
 'STAR_BHB': 0.06750303763669366,
 'STAR_CATY_VAR': 0.03253146391587621,
 'SERENDIPITY_DISTANT': 0.02327104719712387,
 'GALAXY': 0.1867434034531554,
 'SPECTROPHOTO_STD': 0.07315329189813542,
 'REDDEN_STD': 0.07309328919801392,
 'ROSAT_D': 0.0329014805666255,
 'STAR_WHITE_DWARF': 0.010800486021870984,
 'SERENDIPITY_RED': 0.012810576475941417,
 'STAR_CARBON': 0.01628573285797861,
 'SERENDIPITY_FIRST': 0.03566160477221475,
 'STAR_BROWN_DWARF': 0.002500112505062728,
 'STAR_SUB_DWARF': 0.005770259661684776,
 'SKY': 0.0006350285762859329,
 'SERENDIPITY_MANUAL': 0.0003050137256176528,
 'STAR_PN': 6.500292513163093e-05}

In [49]:
train_size = len(train)
p5_size = len(p5_df)
p5_cnt = 0
for k in train_ratio.keys():
    print(f'{k}====\ntrain: {train_ratio[k] * train_size}, p5: {p5_ratio[k] *  p5_size}')
    p5_cnt += p5_ratio[k] * p5_size

QSO====
train: 49680.0, p5: 161389.0
STAR_RED_DWARF====
train: 13750.0, p5: 10635.0
SERENDIPITY_BLUE====
train: 21760.0, p5: 22869.0
STAR_BHB====
train: 13500.000000000002, p5: 14198.0
STAR_CATY_VAR====
train: 6505.999999999999, p5: 6832.0
SERENDIPITY_DISTANT====
train: 4654.0, p5: 4897.0
GALAXY====
train: 37347.0, p5: 841965.0
SPECTROPHOTO_STD====
train: 14630.000000000002, p5: 15380.0
REDDEN_STD====
train: 14618.000000000002, p5: 15355.0
ROSAT_D====
train: 6580.0, p5: 6539.0
STAR_WHITE_DWARF====
train: 2160.0, p5: 2272.0
SERENDIPITY_RED====
train: 2562.0, p5: 1543.0
STAR_CARBON====
train: 3257.0, p5: 3382.0
SERENDIPITY_FIRST====
train: 7132.0, p5: 6726.0
STAR_BROWN_DWARF====
train: 500.0, p5: 258.0
STAR_SUB_DWARF====
train: 1154.0, p5: 1149.0
SKY====
train: 127.0, p5: 43394.99999999999
SERENDIPITY_MANUAL====
train: 61.0, p5: 54.0
STAR_PN====
train: 13.000000000000002, p5: 14.0

In [50]:
p5_cnt

1158852.0

In [42]:
len(p5_df[p5_df['type'] == 'STAR_PN'])

14

In [43]:
sample_nums = {'QSO': 50000,
 'STAR_RED_DWARF': 10635,
 'SERENDIPITY_BLUE': 22869,
 'STAR_BHB': 14198,
 'STAR_CATY_VAR': 6832,
 'SERENDIPITY_DISTANT': 4897,
 'GALAXY': 40000,
 'SPECTROPHOTO_STD': 15380,
 'REDDEN_STD': 15355,
 'ROSAT_D': 6539,
 'STAR_WHITE_DWARF': 2272,
 'SERENDIPITY_RED': 1543,
 'STAR_CARBON': 3382,
 'SERENDIPITY_FIRST': 6726,
 'STAR_BROWN_DWARF': 258,
 'STAR_SUB_DWARF': 1149,
 'SKY': 200,
 'SERENDIPITY_MANUAL': 54,
 'STAR_PN': 14}

In [44]:
test = pd.read_csv('./test.csv')

In [46]:
test.head()

,id,fiberID,psfMag_u,psfMag_g,psfMag_r,psfMag_i,psfMag_z,fiberMag_u,fiberMag_g,fiberMag_r,...,petroMag_u,petroMag_g,petroMag_r,petroMag_i,petroMag_z,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z
0,199991,251,23.817399,22.508963,20.981106,18.517316,17.076079,25.053890,23.167848,21.335901,...,22.246697,22.796239,21.195315,18.584486,17.154284,25.391534,22.499435,21.011918,18.499341,17.091474
1,199992,386,22.806983,21.937111,20.335770,20.000512,19.527369,22.498565,22.186000,20.618879,...,21.729831,21.837511,20.196128,19.967204,19.683671,22.475338,21.853442,20.173169,19.796757,19.567372
2,199993,232,21.024250,19.235669,18.304061,17.808608,17.380113,21.205546,19.439533,18.344433,...,20.722629,18.710223,17.611851,17.158519,16.843986,20.579314,18.653338,17.562108,17.120529,16.708748
3,199994,557,20.503424,20.286261,20.197204,20.162419,20.059832,20.976132,20.611498,20.567262,...,20.329269,20.385262,20.129157,20.206574,20.212342,20.479879,20.280943,20.150499,20.206221,20.092909
4,199995,75,24.244851,22.668237,21.239333,19.284777,18.235939,25.681860,22.935289,21.642456,...,22.308298,22.957496,21.285033,19.299120,18.307526,25.489360,22.857290,21.191862,19.237964,18.280368

In [47]:
summ = 0
for v in sample_nums.values():
    summ += v

In [48]:
summ

202303

In [54]:
summ * 0.75

151727.25

In [55]:
summ * 0.05

10115.150000000001

In [56]:
summ * 0.2

40460.600000000006

In [57]:
25 *  0.3

7.5

In [58]:
25 * 0.7

17.5

In [59]:
summ  *  0.075

15172.724999999999

In [60]:
summ *  0.175

35403.024999999994

In [66]:
summ *  0.9

182072.7

In [67]:
summ * 0.1

20230.300000000003

In [70]:
test.head()

,id,fiberID,psfMag_u,psfMag_g,psfMag_r,psfMag_i,psfMag_z,fiberMag_u,fiberMag_g,fiberMag_r,...,petroMag_u,petroMag_g,petroMag_r,petroMag_i,petroMag_z,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z
0,199991,251,23.817399,22.508963,20.981106,18.517316,17.076079,25.053890,23.167848,21.335901,...,22.246697,22.796239,21.195315,18.584486,17.154284,25.391534,22.499435,21.011918,18.499341,17.091474
1,199992,386,22.806983,21.937111,20.335770,20.000512,19.527369,22.498565,22.186000,20.618879,...,21.729831,21.837511,20.196128,19.967204,19.683671,22.475338,21.853442,20.173169,19.796757,19.567372
2,199993,232,21.024250,19.235669,18.304061,17.808608,17.380113,21.205546,19.439533,18.344433,...,20.722629,18.710223,17.611851,17.158519,16.843986,20.579314,18.653338,17.562108,17.120529,16.708748
3,199994,557,20.503424,20.286261,20.197204,20.162419,20.059832,20.976132,20.611498,20.567262,...,20.329269,20.385262,20.129157,20.206574,20.212342,20.479879,20.280943,20.150499,20.206221,20.092909
4,199995,75,24.244851,22.668237,21.239333,19.284777,18.235939,25.681860,22.935289,21.642456,...,22.308298,22.957496,21.285033,19.299120,18.307526,25.489360,22.857290,21.191862,19.237964,18.280368

In [72]:
sub = pd.read_csv('./sample_submission.csv')

In [73]:
sub.head()

,id,STAR_WHITE_DWARF,STAR_CATY_VAR,STAR_BROWN_DWARF,SERENDIPITY_RED,REDDEN_STD,STAR_BHB,GALAXY,SERENDIPITY_DISTANT,QSO,SKY,STAR_RED_DWARF,ROSAT_D,STAR_PN,SERENDIPITY_FIRST,STAR_CARBON,SPECTROPHOTO_STD,STAR_SUB_DWARF,SERENDIPITY_MANUAL,SERENDIPITY_BLUE
0,199991,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,199992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,199993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,199994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,199995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
10000 / 19

526.3157894736842

In [75]:
12000/19

631.578947368421

In [76]:
600*19

11400

In [79]:
800*11 + 1328

10128

In [80]:
8000 + 2062

10062