In [1]:
import pandas as pd
from sklearn.metrics import log_loss
import pickle

In [2]:
rename_dict = {'STAR_WHITE_DWARF': 0, 'STAR_CATY_VAR':1, 'STAR_BROWN_DWARF':2,
       'SERENDIPITY_RED':3, 'REDDEN_STD':4, 'STAR_BHB':5, 'GALAXY':6,
       'SERENDIPITY_DISTANT':7, 'QSO':8, 'SKY':9, 'STAR_RED_DWARF':10, 'ROSAT_D':11,
       'STAR_PN':12, 'SERENDIPITY_FIRST':13, 'STAR_CARBON':14, 'SPECTROPHOTO_STD':15,
       'STAR_SUB_DWARF':16, 'SERENDIPITY_MANUAL':17, 'SERENDIPITY_BLUE':18}

In [21]:
sample_ground_truth = get_ground_truth('ybigta_validate2.pickle')
sample_val = []
for t in sample_ground_truth:
    template = []
    for i in range(19):
        template.append(0)
    template[t] = 1
    sample_val.append(template)
log_loss(sample_ground_truth, sample_val)

1.830084925229225e-14

In [5]:
def get_ground_truth(filename):
    pickle_in = open(filename,"rb")
    validate = pickle.load(pickle_in)
    validate2 = list()
    for v in validate:
        validate2.append(rename_dict[v])
    return validate2

In [6]:
def get_submission_file(filename):
    sub = pd.read_csv(filename)
    renamed = sub.rename(columns=rename_dict)
    return renamed

In [7]:
def get_score(submission_filename, ground_truth_filename):
    ground_truth = get_ground_truth(ground_truth_filename)
    submission = get_submission_file(submission_filename)
    return log_loss(ground_truth, submission[submission.columns[1:]].values)

In [9]:
get_score('./submission_gunwook_1.csv', 'ybigta_validate2.pickle')

0.6340371900347044

In [27]:
get_score('./submission_gunwook_3.csv', 'ybigta_validate_full.pickle')

0.39495287680731184

In [14]:
get_score('./submission_jinoo_lgbm.csv', 'ybigta_validate2.pickle')

0.716481019551703

In [26]:
get_score('./submission_jinoo_lgbm_3.csv', 'ybigta_validate_full.pickle')

0.47515184013111134

In [15]:
get_score('./submission_jinoo_rf.csv', 'ybigta_validate2.pickle')

0.6384136125696176

In [25]:
get_score('./submission_jinoo_rf_3.csv', 'ybigta_validate_full.pickle')

0.42238507958861665

In [22]:
get_score('./ymj_lgbm_out.csv', 'ybigta_validate2.pickle')

0.6210792251359032

In [23]:
get_score('./ymj_lgbm_out_full.csv', 'ybigta_validate_full.pickle')

0.38267969128000895

# ===============================

In [10]:
test = pd.read_csv('./test.csv')

In [11]:
test.head()

,id,fiberID,psfMag_u,psfMag_g,psfMag_r,psfMag_i,psfMag_z,fiberMag_u,fiberMag_g,fiberMag_r,...,petroMag_u,petroMag_g,petroMag_r,petroMag_i,petroMag_z,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z
0,199991,251,23.817399,22.508963,20.981106,18.517316,17.076079,25.053890,23.167848,21.335901,...,22.246697,22.796239,21.195315,18.584486,17.154284,25.391534,22.499435,21.011918,18.499341,17.091474
1,199992,386,22.806983,21.937111,20.335770,20.000512,19.527369,22.498565,22.186000,20.618879,...,21.729831,21.837511,20.196128,19.967204,19.683671,22.475338,21.853442,20.173169,19.796757,19.567372
2,199993,232,21.024250,19.235669,18.304061,17.808608,17.380113,21.205546,19.439533,18.344433,...,20.722629,18.710223,17.611851,17.158519,16.843986,20.579314,18.653338,17.562108,17.120529,16.708748
3,199994,557,20.503424,20.286261,20.197204,20.162419,20.059832,20.976132,20.611498,20.567262,...,20.329269,20.385262,20.129157,20.206574,20.212342,20.479879,20.280943,20.150499,20.206221,20.092909
4,199995,75,24.244851,22.668237,21.239333,19.284777,18.235939,25.681860,22.935289,21.642456,...,22.308298,22.957496,21.285033,19.299120,18.307526,25.489360,22.857290,21.191862,19.237964,18.280368

In [12]:
mytest = pd.read_csv('./ybigta_sdss_test.csv')

In [13]:
mytest.head()

,id,fiberID,psfMag_u,psfMag_g,psfMag_r,psfMag_i,psfMag_z,fiberMag_u,fiberMag_g,fiberMag_r,...,petroMag_u,petroMag_g,petroMag_r,petroMag_i,petroMag_z,modelMag_u,modelMag_g,modelMag_r,modelMag_i,modelMag_z
0,22121,524,20.25184,19.21797,18.81325,18.63427,18.57789,20.55951,19.53614,19.14778,...,20.31346,19.24276,18.84517,18.65059,18.63834,20.24235,19.21357,18.80395,18.62018,18.57158
1,28799,281,19.63154,19.48602,19.19663,18.75605,18.82092,19.94810,19.73573,19.39360,...,19.61060,19.32184,18.93773,18.49994,18.31607,19.52231,19.29745,18.95885,18.51906,18.56078
2,1416396,166,19.16294,18.94821,18.77507,18.92679,18.89543,19.47140,19.30156,19.08113,...,19.14995,19.01328,18.78268,18.94584,18.95756,19.13103,18.94504,18.72925,18.89673,18.87700
3,229542,38,19.28713,19.02645,18.71246,18.30280,18.24522,19.63397,19.34047,19.07622,...,19.30062,19.02987,18.73833,18.31396,18.30046,19.25876,19.01132,18.70494,18.29297,18.23140
4,482490,304,19.43952,19.22812,19.03674,18.79651,18.71855,19.78950,19.51578,19.38709,...,19.48426,19.23326,19.12450,18.84784,18.83571,19.43872,19.20541,19.04823,18.79752,18.73385